.select-dropdown {
    height: 35px;
    border: 1px solid #0A66C2;
    border-radius: 3px;
}

.legend {
    height: 20px;
    width: 20px;
    border-radius: 3px;
    margin-left: 30px !important;
    margin-right: 10px !important;
}

.blue {
    background-color: #277ACC;
}

.dark-blue {
    background-color: #002B55BD;
}
